body {
  font-family: "Helvetica", "Lucida	Grande", sans-serif;
  color: #e691d3;
  background-color:#474580;
}

h1 {
  background-color: #e1edf2;
}

h2 {
  border-bottom: 1px solid black;
}

figure {
  text-align: center;

  background-color: #080707;
  border: 1px solid #080707;
}
